html {
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}

nav .navigation {
    display: flex;
    background: grey;
    padding: 0;
}
.hamburger_button {
    display: block;
    cursor: pointer;
    background: none;
    font-size: 4em;
    color: white;
    border: none;
    padding: 0;
    inline-size: .5em;
    margin: 0;
    float: left;
}

.close_button {
    display: hide;
    cursor: pointer;
    background: none;
    font-size: 4em;
    color: white;
    border: none;
    padding: 0;
    inline-size: .5em;
    margin: 0;
    float: left;
}

.dropdown {
    display: hide;
    padding: 2em 1em;
    align-content: center;
    justify-content: space-between;
    background: black;
}
.hide {
    display: none;
}

.dropdown li, .dropdown a {
    display: block;
    padding: 1em .5em;
    margin-top: 1em;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .7em;
    color: white;
    cursor: pointer;
}

.gridlist {
    margin-top: .2em;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(auto, minmax(100%, 0));
}
#about {
    text-align: center;
    text-transform: uppercase;
    background-color: darkgray;
    color: white;
    font-size: 1.5em;
    border: none;
    letter-spacing: .3em;
    grid-area: "about";
}
#experiences {
    text-align: center;
    text-transform: uppercase;
    background-color: darkgray;
    color: white;
    font-size: 1.5em;
    border: none;
    letter-spacing: .3em;
    grid-area: "experiences";
}
#projects {
    text-align: center;
    text-transform: uppercase;
    background-color: darkgray;
    color: white;
    font-size: 1.5em;
    border: none;
    letter-spacing: .3em;
    grid-area: "projects";
}
#contact {
    text-align: center;
    text-transform: uppercase;
    background-color: darkgray;
    color: white;
    font-size: 1.5em;
    border: none;
    letter-spacing: .3em;
    grid-area: "contact";
}
#contact p {
    font-size: .7em;
    text-transform: none;
    letter-spacing: .1em;
}
#about_text {
     grid-area: "about_text";
     justify-self: center;
}
#experiences_text {
    grid-area: "experiences_text" 
}
#projects_text {
    grid-area: "projects_text" 
}

